<%- include ('partials/header') %>

  <div class="heading-main">
      <h1>COVITINE</h1>
  </div>  

<div class="row">

    <div class="col-lg-4">


    </div>

    <div class="col-lg-4">
<div class="layout">
    <div class="post ask">
        <form action="/question/ask" method="POST" class=" form text-center">
            <h2>Troubled? Ask here.</h2>

            <div class="">
                <input type="text" name="title"  class="form__input m-2" placeholder="Title" required>
            </div>
            <div class="">
                <textarea type="text" name="description" class="form__input m-2" placeholder="Ask your question.." rows="5" required></textarea>
            </div>
            <div class="text-center">
                <input type="text" name="tags1"  class="form__input mb-2" placeholder="Tag" style="width:30%;">
                <input type="text" name="tags2"  class="form__input mb-2" placeholder="Tag" style="width:30%;">
                <input type="text" name="tags3"  class="form__input mb-2" placeholder="Tag" style="width:30%;">
            </div>
            <div class="text-center">
                <input type="submit" value="Ask" class="btn mb-3">
            </div>
        </form>
    </div>
</div>

<% questions.forEach(function(question){%>
<div class="layout">
<article class="post">
	<!-- Post Header -->
 <header class="post-header">
  <figure class="avatar-wrapper">
   <img src="https://avatars1.githubusercontent.com/u/1109686?v=4&s=460" class="avatar" alt="Post avatar" />
  </figure>
  <div class="content text-left">
   <h3> <%= question.creator.displayName%></h3>
   <h4><%= question.title %></h4>
  </div>
  </header>
	
	<!-- Post Content Section -->
  <section class="post-content">
   <p class="content"> 
    <%= question.description.substring(0, 150) %>
		</p>
   <div class="stats">
    <span clas="likes"> 100 Likes </span>
    <span class="comments"> . 10 Comments</span>
   </div>
   <div class="post-controls">
       <form action="/question/upvote/<%= question._id %>" method="POST" style="display: inline;">
        <button class="review" type="submit"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Upvote</button>
       </form>
    <a class="review" href="/question/search/<%= question._id %>"> <i class="fa fa-comment" aria-hidden="true"></i> Comment </a>
      <form action="/question/downvote/<%= question._id %>" method="POST" style="display: inline;">
        <button class="review"> <i class="fa fa-thumbs-down" aria-hidden="true"></i> Downvote</button>
      </form>
      
   </div>
  </section>

</article>
</div>

<%  }); %>
 <br><br>

</div>

    <div class="col-lg-3">
        <div class="content2">
            <a class="card" href="#!">
                <div class="front" style="background-image: url('../img/covid.jpg')">
                    <p>COVID 19 GUIDLINES</p>
                </div>
                <div class="back">
                    <div>
                        <p>To know more about it, click on the button below.</p><button class="button">Click Here</button></div>
                </div>
            </a>
        </div>

        <div class="content">
            <a class="card" href="#!">
                <div class="front" style="background-image: url('../img/working.jpg')">
                    <p>Tips for lockdown</p>
                </div>
                <div class="back">
                    <div>
                        <p>To know about some tips to keep yourself occupied at home</p><button class="button">Click Here</button></div>
                </div>
            </a>
        </div>
    </div>
</div>


<%- include ('partials/footer') %>